@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: "Lato", "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 400;
  color: #333;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main */
.page {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 100px;
  background-color: #fff;
}
.page .page-head {
  flex-shrink: 0;
  width: 230px;
  padding-top:30px;
  padding-right:20px;
}
.page-util {
  margin-bottom: 40px;
}
.page-util .util-list {
  display: flex;
  column-gap: 20px;
}
.page-util .util-list .util-item a {
  font-size: 13px;
  color: #212121;
}
.page-subject a {
  display: block;
}
.page-subject a img{
  max-width: 100%;
}
.page-navi {
  margin-top: 30px;
}
.page-navi .gnb-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.page-navi .gnb-list .gnb-item a {
  display: block;
  padding: 5px 0px;
  font-size: 22px;
  color: #212121;
}
.page-info {
  margin-top: 70px;
}
.page-info .data-list{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.page-info .data-list .data-item {
  font-size: 13px;
  color: #999;
}
.page-sns {
  margin-top: 50px;
}
.page-sns .data-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.page-sns .data-list .data-item a svg {
  width: 76%;
  fill: #000;
}
.page .page-body {
  flex-shrink: 0;
  width: calc(100% - 230px);
  padding-top: 90px;
  padding-left: 140px;
  padding-bottom: 70px;
}
.post-list {
  width: 100%;
  height: 100%;
}
#columns{
  column-width:250px;
  column-gap: 30px;
}
#columns .post-item{
  display: inline-block;
  margin:0;
  margin-bottom:40px;
}
#columns .post-item img{
  width:100%;
}
.post-head {
  padding-top: 20px;
  font-size: 14px;
  color: #000;
}
.post-body {
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}
.page-foot {
  flex-shrink: 0;
  width: 100%;
  padding-left: 370px;
}
.page-foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.page-foot .nav-list{
  padding-top: 90px;
  display: flex;
  gap: 25px;
}
.page-foot .nav-list .nav-item a {
  font-size: 13px;
  color: rgba(33,33,33,0.7);
}
.search  {
  padding-top: 70px;
}
.search p {
  margin-bottom: 20px;
  font-size: 13px;
  color: #212121;
}
.search input {
  width: 180px;
  height: 39px;
  padding: 6px 12px;
  font-size: 13px;
  color: #212121;
  background: #f6f6f8;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  font-family: "Lato", "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.search button {
  margin-left: 10px;
  font-size: 12px;
  height: 39px;
  padding: 10px 25px;
  background-color: #212121;
  border-color: rgba(55, 55, 55, 0);
  color: #ffffff;
  font-family: "Lato", "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-width: 0px;
}
.line_box {flex-shrink: 0; width:100%;position: relative;}
.line_box p{display: block; height: 1px; width: 100%;background-color: #000;}
.line_box:before,.line_box:after {
  content: '';
  min-width: 1px;
  min-height: 18px;
  display: inline-block;
  border-right: 1px solid #000000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  margin-top: -9px;
  left: 50%;
  margin-left: -5px;
  z-index: 1;
}
.line_box:after {
  margin-left: 5px;
}
.post-list .post-item {
  opacity: 0;
}
.post-list.on .post-item {
  opacity: 1;
}
.post-list.on .post-item {
  --delay: calc((var(--char-index) + 10) * 50ms);
  animation: text_active_animation 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
  animation-delay: var(--delay);
}
/* Animation */
@keyframes text_active_animation {
	from {
		opacity:0;filter:Alpha(opacity=0);
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
	}
	to {
		opacity:1.0;filter:Alpha(opacity=100);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}